@import "primereact/resources/themes/bootstrap4-light-purple/theme.css";
@import 'primereact/resources/primereact.min.css';
@import "primeicons/primeicons.css";                                //icons
@import "media";

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    margin-left: 2rem;
    line-height: normal;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--surface-50);
  }
}
